.containerBody{
    display: flex;
    height: 100vh;
    background: hsla(116, 50%, 48%, 1);

    background: radial-gradient(circle, hsla(116, 50%, 48%, 1) 11%, hsla(101, 46%, 8%, 1) 92%);
    
    background: -moz-radial-gradient(circle, hsla(116, 50%, 48%, 1) 11%, hsla(101, 46%, 8%, 1) 92%);
    
    background: -webkit-radial-gradient(circle, hsla(116, 50%, 48%, 1) 11%, hsla(101, 46%, 8%, 1) 92%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#46b83d", endColorstr="#111e0b", GradientType=1 );

   justify-content: center;
    flex-direction: column;
    font-size: 70px;
}



.linha1{
    display: flex;
    margin: 0px;
    justify-content: space-evenly;

    
}