.containerDado1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faces{
    border: 5px solid black;
    border-radius: 25%;
    padding: 25px;
    width: 30vh;
    height: 30vh;
    font-size: 30vh;
}

