.containerDado1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faces{
    width: 30vh;
    height: 30vh;
    font-size: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

